@page
@model WebWinkelIdentity.Web.Areas.Shipments.Pages.ConfirmCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="color:red">@Model.FormResult</h4>