@page
@model WebWinkelIdentity.Web.Areas.Shipments.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shipment.DeliveredTime" class="control-label"></label>
                <input asp-for="Shipment.DeliveredTime" class="form-control" />
                <span asp-validation-for="Shipment.DeliveredTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shipment.Delivered" /> @Html.DisplayNameFor(model => model.Shipment.Delivered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.StoreId" class="control-label"></label>
                <select asp-for="Shipment.StoreId" class ="form-control" asp-items="ViewBag.StoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shipment.LoadStockChangeId" class="control-label"></label>
                <select asp-for="Shipment.LoadStockChangeId" class ="form-control" asp-items="ViewBag.LoadStockChangeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
